$slickWidthL: 2.3611rem;

@media (max-width:1439PX) {
  .pSlick {
    .mySlickItem {
      height: 1.6528rem;
      padding: .1667rem 0;
      border-radius: .0833rem;

      > a {
        .descT {
          gap: .1111rem;
          padding: 0 .1042rem;
          .dateWrapper {
            gap: .0556rem;
            font-size: .0938rem;
            .separtor {
              height: .0625rem;
            }
          }
          .title {
            font-size: .1563rem;
          }
          .desc {
            font-size: .125rem;
          }
        }
        .descC {
          padding: 0 .1111rem;
          font-size: .125rem;
        }
      }
    }
    &.pc {
      // .slick-center {
      .mySlickItem:hover {
        border-radius: .0694rem;
        
        box-shadow: 0rem 0rem .1389rem 0rem rgba(0, 0, 0, 0.08);
        > a {
          .descT {
            padding: 0 .1111rem;
          }
          
        }
      }
      // }
      .slick-arrow.slick-next {
        width: .3542rem;
        height: .1042rem;
        
        gap: .0556rem;
        font-size: .0938rem;
        left: 8.5347rem;
        top: 1.5972rem;
        &:before {
          width: .0972rem;
          height: .0972rem;
        }
      }
    }
  }
}