.pageFooter {
  height: 329px;
  background: #0c1719;
  .con {
    @include frbs;
  }
  .pageFooterT {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    .con {
      padding: 80px 0;
    }
    .logo {
      width: 127px;
      cursor: pointer;
    }
    .qs {
      @include fcss;
      gap: 16px;
      .q {
        // color: var(--solitude, #F8F9FA);
        color: #f8f9fa;
        /* PADO Desktop/Body 2 */
        font-family: Overpass;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 25.2px */
      }
      .s {
        width: 522px;
        height: 64px;
        @include frsc;
        border-radius: 8px;
        background: #162022;
        .pInputWrapper {
          flex: 1;
          height: 100%;
          .pInput {
            height: 100%;
            padding: 0 24px;
            flex: 1;
            color: #9fa2a5;
            /* PADO Desktop/Body 2 */
            font-family: Overpass;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 25.2px */
            &::placeholder {
              color: #9fa2a5;
            }
          }
        }

        .pButton {
          width: 160px;
          height: 48px;
          border-radius: 4px;

          background: linear-gradient(180deg, #23d7ff 37.73%, #c6ffe5 100%);
          color: $colBtnBorder;
          text-align: justify;
          /* PADO Desktop/Body 2 */
          font-family: Overpass;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%; /* 25.2px */
          .suffix {
            display: none;
            width: 14px;
          }
          &:hover,
          &:active {
            .suffix {
              display: flex;
            }
          }
          &:hover {
            background: #fff;
          }
          &:active {
            background: #f8f9fa;
          }
        }
      }
    }
  }
  .pageFooterC {
    height: 60px;
    @include frsc;
    .con {
      // align-items: center;
      width: 100%;
      @include frbc;
    }
    .copyright,
    .copyright > a {
      @include frsc;
      gap: 40px;
      color: #9fa2a5;
      text-align: center;
      /* PADO Desktop/Body 3 */
      font-family: Overpass;
      font-size: 13.5px;
      font-style: normal;
      font-weight: 300;
      line-height: 110%; /* 14.85px */
    }
    .friends {
      @include frsc;
      gap: 20px;
      > li {
        cursor: pointer;
        img {
          width: 20px;
        }
      }
    }
  }
}
