@media (max-width: 1439PX) {
  .ourAdvantages {
    padding: 0 0 0.8333rem 0;
    gap: 0.5556rem;
    > h2 {
      font-size: 0.4063rem;
    }
    .advantages {
      gap: 0.1458rem;
      .advantage {
        width: 2.8681rem;
        height: 1.9097rem;
        padding: 0rem 0.1111rem 0.2222rem 0.1111rem;
        .headerIcon {
          width: 0.4444rem;
        }
        .descWrapper {
          > h5 {
            font-size: 0.2188rem;
            padding-top: 0.2222rem;
          }
          .desc1,
          .desc2 {
            font-size: 0.125rem;
          }
          .desc1 {
            padding-top: 0.0556rem;
          }
          .desc2 {
            padding-top: 0.0833rem;
          }
        }
      }
    }
  }
}
