@media (max-width:1439PX) {
  .pSelect {
    height: .3333rem;
    .selectInput {
      height: .3333rem;
      padding: 0 .1111rem;
      border-radius: .0278rem;
      font-size: .125rem;
      
      .suffixIcon {
        width: .1389rem;
      }
    }
    
    .selectOptionswrapper {
      padding-top: .0556rem;
      .selectOptions {
        max-height: 1.25rem;
        border-radius: .0694rem;
        padding: .1389rem;
        gap: .0694rem;
        .selectOption {
          line-height: .2083rem;
          padding-left: .0694rem;
          border-radius: .0556rem;
          font-size: .1111rem;
        }
      }
    }
  }
}