@media (max-width: 1439PX) {
  .pageFooter {
    height: 2.2847rem;
    .pageFooterT {
      .con {
        padding: .5556rem 0;
      }
      .logo {
        width: .8819rem;
      }
      .qs {
        gap: .1111rem;
        .q {
          font-size: .125rem;
        }
        .s {
          width: 3.625rem;
          height: .4444rem;
          border-radius: .0556rem;
          .pInputWrapper {
            .pInput {
              padding: 0 .1667rem;
              font-size: .125rem;
            }
          }

          .pButton {
            width: 1.1111rem;
            height: .3333rem;
            border-radius: .0278rem;
            font-size: .125rem;
          }
        }
      }
    }
    .pageFooterC {
      height: .4167rem;
      
      .copyright,
      .copyright > a {
        gap: .2778rem;
        font-size: .0938rem;
      }
      .friends {
        gap: .1389rem;
        > li {
          img {
            width: .1389rem;
          }
        }
      }
    }
  }
}
