@media (max-width: 1439px) {
  .pageProductTrial {
    margin-top: -1 * $headerHeightL;
    padding-top: $headerHeightL;
    .pageProductTrialCon {
      padding: 0.8333rem 0;
      .titleWrapper {
        padding-top: 0.0868rem;
        width: 3.625rem;
        > h1 {
          font-size: 0.625rem;
        }
        > p {
          width: 2.8681rem;
          padding-top: 0.2222rem;
          font-size: 0.125rem;
        }
        .btnWrapper {
          margin-top: 0.2778rem;
          .pButton {
            width: 1.7361rem;
            height: 0.4444rem;
            font-size: 0.125rem;
            border-radius: 0.0278rem;
            .suffix {
              width: 0.125rem;
            }
            &:last-child {
              margin-top: 0.25rem;
            }
          }
        }
      }
      .conWrapper {
        padding: 0.2778rem 0.1667rem;
        width: 4.375rem;
        height: 4.9861rem;
        border-radius: 0.0694rem;
        .userForm {
          gap: 0.1111rem;
          .pRow {
            gap: 0.1111rem;
          }
        }
        .tip,
        .agree {
          font-size: 0.0938rem;
        }
        .tip {
          padding-top: 0.2778rem;
        }
        .agree {
          padding-top: 0.1181rem;
          gap: 0.0278rem;
        }
        .pButton {
          height: 0.3333rem;
          margin-top: 0.1667rem;
        }
      }
    }
    .sucCon {
      padding: 1.7569rem 0 3.6458rem 0;
      gap: 0.2222rem;
      > h1 {
        font-size: 0.4861rem;
      }
      > p {
        font-size: 0.125rem;
      }
    }
  }
}
