@media (max-width:1439PX) {
  .detail1,
  .detail2,
  .detail3 {
    .textCon {
      h3 {
        padding-top: .1111rem;
        font-size: .4063rem;
      }
      .detailCon {
        padding-top: .2778rem;
      }
    }
  }
}