.detail1.detail3.sectionBuildACredit {
  width: 100vw;
  height: (631/1440) * 100vw;
  background: url("../../../assets/img/home/buildACreditBg.svg");
  background-size: 100% 100%;
  padding: 0 !important;
  .textCon {
    width: 629px;
    .detailCon {
      width: 521px;
      text-align: left;
      padding-top: 16px;
      opacity: 0.8;
    }
    .pButton {
      margin-top: 24px;
      width: 160px;
      height: 48px;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%; /* 25.2px */
    }
  }
}
