@media (max-width:1439PX) {
  .detail1.detail3.sectionBuildACredit {
    .textCon {
      width: 4.3681rem;
      .detailCon {
        width: 3.6181rem;
        padding-top: .1111rem;
      }
      .pButton {
        margin-top: .1667rem;
        width: 1.1111rem;
        height: .3333rem;
        font-size: .125rem;
      }
    }
  }
}