@media (max-width:1439PX) {
  .ourRewards {
    padding: .8333rem 0 .9722rem 0;
    gap: .5556rem;
    > h2 {
      font-size: .4063rem;
    }
    .rewards {
      .reward {
        gap: .2778rem;
        padding: .2222rem 0;
        .aboutIcon {
          width: .5556rem;
        }
        .descInfo {
          .pTag {
            font-size: .125rem;
          }
          > h5 {
            font-size: .2188rem;
            padding-top: .0556rem;
          }
          .desc {
            padding-top: .1389rem;
            font-size: .125rem;
            .more {
              gap: .0556rem;
              font-size: .1rem;
              .iconArrowRight {
                width: .0972rem;
              }
              .iconArrowRightWrapper {
                width: .0972rem;
                height: .0972rem;
              }
            }
          }
        }
        &:hover,
        &.active {
          gap: .1389rem;
          .aboutIcon {
            width: .6944rem;
          }
          .desc {
            > p {
              max-width: 6.5556rem;
            }
          }
        }
      }
    }
  }
}