.sectionAllYouNeed {
  background: $colBtnBorder;
  width: 100%;
  // height: 1452px;
  .sectionContent {
    @include fccs;
    gap: 160px;
    .sectionContentT {
      width: 100%;
      @include fcsc;
      gap: 64px;
      padding: 120px 0;
      .bannerTitle {
        width: 848px;
        // color: var(--solitude, #F8F9FA);
        color: #f8f9fa;
        text-align: center;
        font-family: Overpass;
        font-size: 58.5px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 64.35px */
        letter-spacing: -0.292px;
        text-transform: capitalize;
      }
      .downloadBtnWrapper {
        position: relative;
        .tip {
          position: absolute;
          content: "";
          bottom: -15px;
          right: -30px;
          font-size: 12px;
          padding: 5px;
          background-color: #fff;
          border-radius: 2px;
          color: #000;
          display: none;
        }
        &:hover {
          .tip {
            display: inline-block;
          }
        }
        .pButton {
          width: 240px;
          height: 48px;
          color: #fff;
          text-align: justify;

          /* PADO Desktop/Body 2 */
          font-family: Overpass;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%; /* 25.2px */
          border-color: #fff;
        }
      }
      .downloadItems {
        @include frcc;
        gap: 52px;
        padding: 0;
        .downloadItem {
          @include fcsc;
          gap: 8px;
          cursor: pointer;
          position: relative;
          > svg {
            width: 40px;
            height: 40px;
          }
          > p {
            color: var(--solitude, #f8f9fa);
            text-align: justify;
            /* Pado Desktop/Body 2 */
            font-family: Overpass;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 25.2px */
          }
          &:not(.disabled):hover {
            > p {
              color: var(--unnamed, #34dbff);
            }
          }
          &:hover {
            .tip {
              display: block;
            }
          }
          // &.disabled{
          //   cursor: not-allowed;
          // }
          .qrcodeFloat {
            position: absolute;
            top: -174px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(15px);
            padding: 8px;
            @include fcsc;
            gap: 8px;
            > p {
              color: #fff;
              text-align: center;
              /* Pado Desktop/Body 3 */
              font-family: Overpass;
              font-size: 14.4px;
              font-style: normal;
              font-weight: 300;
              line-height: 110%; /* 15.84px */
            }
          }
          .tip {
            position: absolute;
            content: "";
            bottom: -20px;
            right: -30px;
            font-size: 12px;
            padding: 5px;
            background-color: #fff;
            border-radius: 2px;
            color: #000;
            display: none;
          }
        }
      }

      .descItems {
        width: 100%;
        @include frbc;
        li {
          width: 413px;
          height: 426px;
          padding: 40px 24px 0;
          border-radius: 12px;
          background: #141b1d;
          img {
            width: 100%;
          }
          h6 {
            padding-top: 40px;
            // color: var(--solitude, #f8f9fa);
            color: #f8f9fa;
            text-align: justify;

            /* PADO Desktop/H4 */
            font-family: Overpass;
            font-size: 22.5px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 27px */
          }
          p {
            padding-top: 8px;
            // color: var(--light-text, #bcbfc2);
            color: #bcbfc2;

            /* PADO Desktop/Body 2 */
            font-family: Overpass;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 25.2px */
            text-align: left;
          }
        }
      }
    }
  }
}
