@media (max-width: 1439PX) {
  .pInputWrapper.pControledInput {
    .pInput {
      height: 0.3194rem;
      padding: 0 0.1111rem;
      border-radius: 0.0278rem;
      font-size: 0.125rem;
    }
  }
}
