@media (max-width: 576px) {
  .pInputWrapper.pControledInput {
    .pInput {
      height: 1.0769rem;
      padding: 0 0.3077rem;
      border-radius: 0.0513rem;
      font-size: 0.4103rem;
      line-height: 130%;
    }
  }
}
