@media (max-width:1439PX) {
  .detail1.detail3 {
    padding: .4167rem 0 !important;
    .textCon {
      width: 4.0417rem;
      .detailCon {
        width: 2.9861rem;
        
        font-size: .125rem;
      }
    }
  }
}