.detail1.detail3 {
  width: 100vw;
  height: 644/1440 * 100vw;
  background-image: url("../../../../assets/img/home/detailPositionBg.svg");
  background-size: 100% 100%;
  padding: 60px 0 !important;
  @include frcc;
  .textCon {
    width: 582px;
    .detailCon {
      width: 430px;
      text-align: left;
      // color: var(--dark-text, #3a3b3c);
      color: #3a3b3c;
      opacity: 0.8;

      /* PADO Desktop/Body 2 */
      font-family: Overpass;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%; /* 25.2px */
    }
  }
}
