@media (max-width: 9.9931rem) {
  .pButton {
    gap: .0556rem;
    width: .8542rem;
    height: .2778rem;
    border-radius: .0278rem;
    font-size: .125rem;
    // }
    
    .prevfix,
    .suffix {
      width: 0.09722rem;
    }
    .preffix{
      margin-right: 0.02777rem;
    }
    .suffix {
      margin-left:  0.02777rem;
    }
  }
}
