$centerWidth: 1280px;
$centerWidthL: 8.8889rem;
$centerWidthS: 8.9744rem;
$headerHeight: 80px;
$headerHeightL: .5556rem;
$headerHeightS: 1.641rem;

$colWhite: #fff;
$colBlack: #000;
$colLBlack: #0c1719;
$colBtnBorder: #0a1214;
$colError: #ff4d4f;
@mixin contentWidth {
  width: $centerWidth;
  margin: 0 auto;
}
.contentWidth {
  width: $centerWidth;
  margin: 0 auto;
}
@media (max-width: 1439PX) {
  .contentWidth {
    // width: calc(100vw - .3125rem);
    width: $centerWidthL;
  }
}
@media (max-width: 576px) {
  .contentWidth {
    width: $centerWidthS;
  }
}

// $col-raise: #E12828
// $col-fall: #27C265

// $colSBlack: rgba(0,0,0,0.6)
// $colMBlack: rgba(0,0,0,0.8)
// $colLBlack: rgba(0,0,0, 1)
// $colSWhite: rgba(255,255,255,0.6)

// $xxsGap: 8px
// $xsGap: 12px
// $sGap: 16px
// $mGap: 18px
// $lGap: 24px
// $xlGap: 32px

// $xxsIconSize: 18px
// $xsIconSize: 20px
// $sIconSize: 24px
// $mIconSize: 32px

// $sBorderRadius: 12px
// $mBorderRadius: 24px
// $xxLBorderRadius: 100px

// $sCenterWidth: 1032px

// $pageHeaderHeight: 107px

// $mN: 0.875
// $sN: 0.75
// $xsN: 0.71

// @mixin backdropMixin ($blur:16px, $backdropBgc:$colSWhite,$backdropBr:$sBorderRadius)
//   backdrop-filter: blur($blur)
//   background: $backdropBgc
//   border-radius: $backdropBr
