@import "@css/pVars.scss";
@import "@css/pFlex.scss";
@mixin Text1 {
  font-family: Inter;
  font-size: var(--spaing-14, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--spacing-20, 20px);
}
@mixin Text2 {
  font-family: Inter;
  font-size: var(--spaing-12, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--spacing-16, 16px); /* 133.333% */
}
.attestationListPage {
  @include frcs;
  width: 100vw;
  height: 100vh;
  background: #f8f9fb;
  padding-top: 20px;
  .contentWidth {
    > ul {
      width: 100%;
      background-color: #fff;
      > li {
        width: 100%;
        @include frsc;
        
        border-bottom: 1px solid #eee;
        &.th {
          @include Text1;
          height: 60px;
        }
        &.td {
          @include Text2;
          height: 40px;
        }
        > div {
          flex: 1;
        }
        .action {
          color: rgb(76, 99, 182);
          cursor: pointer;
        }
      }
    }
  }
}
