#main{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  // width: 100%;
  // height: 100%;
  padding-top: $headerHeight;
  box-sizing: border-box;
  .echarts-for-react{
    width: 100%;
    height: 100% !important;
  }
}