.sectionBanner {
  background-size: 100% 100%;
  margin-top: -1 * $headerHeight;
  padding-top: $headerHeight;

  width: 100vw;
  height: 100vw * 1024/1440;
  background-image: url("../../../assets/img/home/bannerBg.png");
  // position: relative;
  // .bg {
  //   padding-top: $headerHeight;
  //   position: absolute;
  //   z-index: -2;
  //   width: 100%;
  //   height: 100%;
  //   background-size: 100% 100%;
  //   background-image: url("../../../assets/img/home/bannerBg2.svg");
  // }
  .sectionContent {
    gap: 40px;
    @include fcss;
    padding-top: 232px;
    .bannerTitle {
      color: #0a1214;
      font-family: Overpass;

      font-style: normal;
      font-weight: 300;
      line-height: 130%;
      font-size: 90px;
      letter-spacing: 0.45px;
      width: 1100px;
      text-align: left;
     
    }
    .pButton {
      text-align: center;
      /* PADO Desktop/Body 2 */
      font-family: Overpass;
      font-style: normal;
      font-weight: 300;
      color: $colBtnBorder;
      font-size: 18px;
      line-height: 140%; /* 25.2px */
      width: 250px;
      height: 64px;
      .suffix {
        display: none;
        width: 18px;
      }
      &:hover,
      &:active {
        color: #fff;
        .suffix {
          display: flex;
        }
      }
      &:hover {
        background: #0a1214;
      }
      &:active {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.08) 0%,
            rgba(255, 255, 255, 0.08) 100%
          ),
          #0c1719;
      }
    }
  }
}
