@media (max-width:1439PX) {
  .detail2 {
    .contentWidth {
      .leftWrapper {
        width: 4.375rem;
        .imgWrapper {
          padding: 1.1111rem 0 1.1736rem 0;
        }
      }
      .rightWrpper {

        width: 3.9583rem;
        .textCon {
          margin: 1.1111rem 0 1.1736rem 0;
          width: 3.9583rem;
          height: 3.6736rem;
          main {
            h3 {
              margin-top: -0.0486rem;
              > p {
                .strongTit {
                  // width: 1.2917rem;
                  height: .5rem;
                  border-radius: .0417rem;
                  font-size: .4063rem;
                  padding: 3PX .0903rem;
                  margin-left: .0694rem;
                }
                &:last-child {
                  padding-bottom: .1389rem;
                }
              }
            }
          }
          .detailCon {
            width: 3.625rem;
            h6 {
              font-size: .1563rem;
            }
            p {
              padding-top: .1111rem;
              font-size: .125rem;
            }
            .pButton {
              margin-top: .1667rem;
              width: 1.1111rem;
              height: .3333rem;
            }
          }
        }
      }
    }
  }
}