@media (max-width:1439PX) {
  .videoDialog {
    width: 7.3889rem;
    height: 4.1597rem;
    .iconClose {
      right: -0.1944rem;
      width: .1389rem;
      height: .1389rem;
    }
    .video {
      border-radius: .0833rem;
      box-shadow: .0556rem .1111rem .1667rem 0rem rgba(0, 0, 0, 0.1);
    }
  }
}