@media (max-width: 576px) {
  .videoDialog {
    width: 350px;
    height: 198px;

    .iconClose {
      top: -0.6154rem;
      right: 0;
      width: 0.4103rem;
      height: 0.4103rem;
    }
    .video {
      border-radius: 0.1026rem;
      box-shadow: .1026rem .2051rem .3077rem 0px rgba(0, 0, 0, 0.1);
    }
  }
}