.detail1,
.detail2,
.detail3 {
  width: 100%;
  .contentWid {
    @include frbc;
  }
  .textCon {
    h3 {
      text-align: left;
      padding-top: 16px;
      color: $colBtnBorder;
      font-family: Overpass;
      font-size: 58.5px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 64.35px */
      letter-spacing: 0.293px;
      text-transform: capitalize;
    }
    .detailCon {
      padding-top: 40px;
      @include fcss;
    }
  }
}
.detail1,
.detail3 {
  .textCon {
    @include fcss;
  }
}