@media (max-width: 1439PX) {
 .pageHeader {
  height: $headerHeightL;
  
  .contentWidth {
    .logo {
      width: .8819rem;
    }
    .navs {
      gap: .1389rem;
      .navItem {
        padding: .0278rem .1111rem;
        font-size: .1rem;
        &:last-child {
          margin-left: .1389rem;
          > .pButton {
            width: .8542rem;
            height: .2778rem;
            font-size: .1rem;
          }
        }
      }
    }
  }
}
}
