@import "@css/pVars.scss";
@import "@css/pFlex.scss";
@mixin Text1 {
  font-family: Inter;
  font-size: var(--spaing-14, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--spacing-20, 20px);
}
@mixin Text2 {
  font-family: Inter;
  font-size: var(--spaing-12, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--spacing-16, 16px); /* 133.333% */
}
@mixin Headline3 {
  font-family: Inter;
  font-size: var(--spacing-24, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--spacing-32, 32px); /* 133.333% */
}
@mixin Body2 {
  font-family: Inter;
  font-size: var(--spacing-16, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--spacing-22, 22px); /* 137.5% */
}

.attestationDetailPage {
  @include frss;
  width: 100vw;
  height: 100vh;
  background: #f8f9fb;
  .contentWidth {
    padding-top: 50px;
    h1 {
      text-align: left;
      margin-bottom: 20px;
    }
    > ul {
      width: 100%;
      > li {
        width: 100%;
        height: 50px;
        margin-bottom: 8px;
        border-radius: 5px;
        @include frsc;
        @include Text2;
        .label {
          @include frsc;
          width: 150px;
          height: 100%;
          padding: 8px;
          background-color: rgba(203, 250, 255, 0.8);
          border-radius:5px 0 0 5px;
        }
        .value{
          @include frsc;
          padding-left: 20px;
          flex: 1;
          height: 100%;
          background-color: rgba(203, 250, 255, 0.2);
          border-radius:0 0 5px 5px;
        }
      }
    }
  }
}
