@media (max-width:1439PX) {
  .sectionBanner {
    margin-top: -1 * $headerHeightL;
    padding-top: $headerHeightL;
    .sectionContent {
      gap: .2778rem;
      padding-top: 1.8333rem;
      .bannerTitle {
        font-size: .625rem;
        width: 6.6319rem;
      }
      .pButton {
        font-size: .125rem;
        width: 1.7361rem;
        height: .4444rem;
        .suffix{
          width: 0.125rem;
        }
      }
    }
  }

}