$slickWidthL: 2.3611rem;

@media (max-width: 1439px) {
  .pSlick2 {
    .mySlickItem {
      padding: 0.4359rem 1.0256rem 0.4359rem 0;
      .img0 {
        width: 4.8205rem !important;
      }
      .img1 {
        width: 4.1538rem !important;
      }
      .img2 {
        width: 3.9487rem !important;
      }
      .img3 {
        width: 4.4359rem !important;
      }
      .img4 {
        width: 5.1875rem !important;
      }
      .img5 {
        width: 4.0256rem !important;
      }
      .img6 {
        width: 1.5776rem !important;
      }
      .img7 {
        width: 5.1515rem !important;
      }
      .img8 {
        width: 4.4611rem !important;
      }
    }
  }
}
