.videoDialog {
  @include fcsc;
  width: 1064px;
  height: 599px;
  position: relative;
  .iconClose {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -28px;
    width: 20px;
    height: 20px;
  }
  .video {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 8px 16px 24px 0px rgba(0, 0, 0, 0.1);
  }
}