@media (max-width: 576px) {
  .sectionBanner {
    margin-top: -1 * $headerHeightS;
    padding-top: 0;
    width: 100vw;
    height: 100vw * 847/390;
    background-image: url("../../../assets/img/home/bannerBgS.png");
    @include fccc;
    .sectionContent {
      @include fcsc;
      gap: 1.0256rem;
      padding-top: 0;
      .bannerTitle {
        font-size: 1.4359rem;
        width: 100%;
        text-align: center;
        // letter-spacing: -0.0072rem;
      }
      .pButton {
        font-size: 0.4103rem;
        line-height: 130%; /* 25.2px */
        width: 6.1538rem;
        height: 1.2308rem;
        color: var(--dark-blue, #0c1719);
        .suffix{
          width: 0.4615rem;
        }
      }
    }
  }
}
