@media (max-width:1439PX) {
  .sectionNews {
    padding: .8333rem 0;
    gap: .4167rem;
    .sectionContentT {
      gap: .125rem;
      h3 {
        font-size: .4063rem;
      }
    }
    .sectionContentC {
      // width: calc(100vw - (100vw - 8.8889rem) / 2);
      width: 9.4444rem;
    }
  }
}