@media (max-width: 576px) {
  .pButton {
    font-size: 0.4103rem;
    line-height: 130%;
    .prevfix,
    .suffix {
      width: 0.3076rem;
    }
    .preffix{
      margin-right: 0.1025rem;
    }
    .suffix {
      margin-left:  0.1025rem;
    }
  }
  
}
