@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateIn {
  0% {
    transform: translateY(72px);
  }
  100% {
    transform: translateY(0);
  }
}

.detail2 {
  width: 100%;
  padding: 0;
  @include frss;
  justify-content: flex-end;
  .contentWidth {
    @include frbs;
    .leftWrapper {
      width: 630px;
      // padding: 160px 0 169px 0;
      .imgWrapper {
        padding: 160px 0 169px 0;
        // padding: 160px 0;
        // margin-bottom: 169px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .rightWrpper {
      position: sticky;
      top: 0px;
      right: 0;
      width: 570px;
      background-color: #fff;
      .textCon {
        margin: 160px 0 169px 0;
        width: 570px;
        height: 529px;
        @include fcbs;
        main {
          width: 100%;
          h3 {
            margin-top: -7px;
            width: 100%;
            > p {
              @include frsc;
              .strongTit {
                @include frcc;
                // width: 186px;
                height: 72px;
                box-sizing: border-box;
                border-radius: 6px;
                border: 1px solid $colLBlack;
                background: linear-gradient(
                  180deg,
                  #34dbff 51.36%,
                  #c6ffe5 100%
                );

                color: var(--dark-blue, #0c1719);
                /* Pado Desktop/H2 */
                font-family: Overpass;
                font-size: 58.5px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%; /* 64.35px */
                letter-spacing: -0.292px;
                padding: 3px 13px;

                // transform: translateY(72px);
                animation: translateIn 0.2s linear 1;
                overflow: hidden;
                position: relative;
                z-index: -1;
                margin-left: 10px;
              }
              &:last-child {
                width: 100%;
                position: relative;
                background-color: #fff;
                padding-bottom: 20px;
              }
            }
          }
        }
        .detailCon {
          animation: fadeIn 1s linear 1;
          @include fcss;
          width: 522px;
          padding-top: 0 !important;
          h6 {
            color: $colBtnBorder;
            text-align: justify;
            font-family: Overpass;
            font-size: 22.5px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 27px */
          }
          p {
            text-align: left;
            padding-top: 16px;
            // color: var(--dark-text, #3A3B3C);
            color: #3a3b3c;
            font-family: Overpass;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 25.2px */
            letter-spacing: -0.24px;
            opacity: 0.8;
          }
          .pButton {
            margin-top: 24px;
            width: 160px;
            height: 48px;
            > img {
              width: 0;
            }
          }
        }
      }
    }
  }
}
