@media (max-width: 576px) {
  .pTag {
    font-size: 0.4103rem;
    line-height: 130%; /* 25.2px */
    border-radius: 0.0513rem;
    background: rgba(52, 219, 255, 0.13);
    padding: .1026rem .2051rem;
  }
}
